{% block navbar %}
<nav id="links" class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="/">HOME</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/#usluge">USLUGE</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/#meni">MENI</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/o-nama">O NAMA</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/kontakt">KONTAKT</a>
    <div class="dropdown flex-sm-fill nav-link">
        <button type="button" class="btn btn-link dropdown-toggle bt" data-toggle="dropdown" style="color: white; text-decoration: none; padding: 0;"> 
            {% if username%}{{ username}}{% else %}ACCOUNT{% endif %}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/login">LOGIN</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">LOGOUT</a>
        </div>
    </div>
</nav>
{% endblock %}