{% block sidebar %}
<div id="mySidebar" class="sidebar">
    <a class="link flex-sm-fill text-sm-center nav-link active" href="/" onclick="toggleMenu()">HOME</a>
    <a class="link flex-sm-fill text-sm-center nav-link" href="/#usluge" onclick="toggleMenu()">USLUGE</a>
    <a class="link flex-sm-fill text-sm-center nav-link" href="/#meni" onclick="toggleMenu()">MENI</a>
    <a class="link flex-sm-fill text-sm-center nav-link" href="/o-nama" onclick="toggleMenu()">O NAMA</a>
    <a class="link flex-sm-fill text-sm-center nav-link" href="/kontakt" onclick="toggleMenu()">KONTAKT</a>
</div>
{% endblock %}